{% extends "base.html" %}


{% block content %}
<h3>Welcome, {{current_user.name}}</h3>
{% with messages = get_flashed_messages() %}
{% if messages%}
<p class="notification is-danger"">
    {% for msg in messages %}
    💡{{ msg }}<br>
    {% endfor %}
</p>
{% endif %}
{% endwith %}
<div class=" container">
    <div class="row">
        <div class="col-12-xs">
            <h3>All Uploaded Files</h3>
            <p>Bucket Created: {{ my_bucket.creation_date | datetimeformat }}</p>
        </div>
    </div>
    <hr>
    <div class="table-responsive-xl">
        <table class=" table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Filename</th>
                    <th scope="col">Last Modified</th>
                    <th scope="col">Type</th>
                    <th scope="col">Download</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>

                    <td>{{file.key}}</td>
                    <td>{{file.last_modified | datetimeformat}}</td>
                    <td>{{file.key | file_type}}</td>
                    <td>
                        <form class="download-form" action="{{url_for('download')}}" method="post">
                            <input type="hidden" name="key" value="{{file.key}}">
                            <button type="submit" class="btn btn-sm">⏬</button>
                        </form>
                    </td>
                    <td>
                        <form class="delete-form" action="{{url_for('delete')}}" method="post">
                            <input type="hidden" name="key" value="{{file.key}}">
                            <button type="submit" class="btn btn-sm">🗑️</button>
                        </form>
                    </td>
                </tr> {% endfor %} </tbody>
        </table>

    </div>
    </div> {% endblock %}