{% extends "bootstrap/base.html" %}
{% block title %}PyBucket | Upload{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    <!-- ... -->
</div>
{% endblock %}

{% block content %}
<form class="upload-form form-group" action="/upload" method="POST" enctype="multipart/form-data">
    <label for="file">Upload Your File</label>
    <br></br>
    <input type="file" name="file">
    <br></br>
    <button name="submit" class="btn btn-primary type=" submit">Upload</button>
</form>
{% endblock %}